<div class="border">
  <div class="container">
    <div style="text-align: center">
      <h1><b>📰 Noticias</b></h1>
      <ng-container *ngIf="newsArray?.length == 0">No hay noticias para ver 😕</ng-container>
    </div>
    <div *ngIf="newsArray">
      <div *ngFor="let news of newsArray; let i = index">
        <ng-container *ngIf="i < limit"><app-news-preview [news]="news"></app-news-preview></ng-container>
      </div>
      <button *ngIf="limit < newsArray.length" class="button" (click)="growLimit()">Ver más noticias</button>
    </div>
  </div>
</div>
