<div *ngIf="fetched">
  <div *ngIf="user" class="container">
    <div class="row">
      <div class="col-lg-2">
        <img class="img-circle profile-picture" alt="Profile Picture" src={{user?.profilePic}} >
      </div>
      <div class="container head">
        <p>
          <span class="name">{{user?.name}} {{user?.lastName}} </span>
          <span *ngIf="user?.type === 'FreeUser' "    class="icon-badge"  title="Free User">👶🏻</span>
          <span *ngIf="user?.type === 'PremiumUser' " class="icon-badge" title="Premium User">🏅</span>
          <span *ngIf="user?.type === 'Chef' "        class="icon-badge" title="Chef">👨🏻‍🍳</span>
          <button *ngIf="user?.id === loggedUser?.id"  class="btn subscribe">Editar</button>
          <button *ngIf="!subscribed && this.user.id !== this.loggedUser.id; else subscripto"  class="btn subscribe" (click)="subscribe()">Suscribir</button>
          <ng-template #subscripto>
            <button *ngIf="subscribed;" class="btn subscribe" (click)="unSubscribe()">Desuscribir</button>
          </ng-template>
        </p>
        <p class="mail">
          <span class="glyphicon glyphicon-envelope one"></span><a href="mailto:{{user?.email}}">{{user?.email}}</a>
        </p>
      </div>
    </div>

    <div class="container">
      <div class="panel with-nav-tabs panel-default">
        <div class="panel-heading">
          <div *ngIf="user.type === 'PremiumUser'; else other">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab1" data-toggle="tab"><b>{{recipes?.length}}</b> recetas</a></li>
              <li><a href="#tab2" data-toggle="tab" (click)="fetchFollowers()"><b>{{this.followers?.length}}</b> siguiendo</a></li>
              <li><a href="#tab3" data-toggle="tab" (click)="fetchFollowing()"><b>{{this.following?.length}}</b> seguidores</a></li>
              <li><a href="#tab4" data-toggle="tab"><b>6</b> categorías</a></li>
            </ul>
          </div>
          <ng-template #other>
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab2" data-toggle="tab" (click)="fetchFollowing()"><b>4</b> siguiendo</a></li>
              <li><a href="#tab3" data-toggle="tab" (click)="fetchFollowers()"><b>5</b> seguidores</a></li>
              <li><a href="#tab4" data-toggle="tab"><b>6</b> categorías</a></li>
            </ul>
          </ng-template>
        </div>
        <div class="panel-body">
          <div class="tab-content">
            <div class="tab-pane fade in active" id="tab1">
              <div *ngFor="let recipe of recipes">
                <app-recipe-card [recipe]="recipe"></app-recipe-card>
              </div>
            </div>
            <div class="tab-pane fade" id="tab2">
              <ul style="list-style: none;">
                <ng-container *ngFor="let n of followers">
                  <li><img alt="Pic" src="{{n.profilePic}}" class="img-circle follower"><a href="" class="follower">{{n.name}} {{n.lastName}}</a></li>
                </ng-container>
              </ul>
            </div>
            <div class="tab-pane fade" id="tab3">
              <ul style="list-style: none;">
                <ng-container *ngFor="let n of following">
                  <li><img alt="Pic" src="{{n.profilePic}}" class="img-circle follower"><a href="" class="follower">{{n.name}} {{n.lastName}}</a></li>
                </ng-container>
              </ul>
            </div>
            <div class="tab-pane fade" id="tab4">
              <div class="categories">
                <ul>
                  <li>Caliente</li>
                  <li>Postre</li>
                  <li>Frio</li>
                  <li>Dulce</li>
                  <li>Salado</li>
                  <li>Frito</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <br/>
      </div>
    </div>
  </div>
  <app-not-found *ngIf="!user"></app-not-found>
</div>
<div *ngIf="!fetched" class="app-spinner"></div>
