<div *ngIf="fetched">
  <div *ngIf="user">
    <div class="container">
        <div class="panel panel-default">
          <div class="panel-heading"><h4 >Perfil de usuario</h4></div>
          <div class="panel-body">
            <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
              <img alt="Profile Picture" width="350px" height="350px" src={{user?.profilePic}} class="img-circle img-responsive">
            </div>
            <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8" >
              <div class="container" >
                <p>
                  <span class="name">{{user.name}} {{user.lastName}} </span>
                  <span *ngIf="user.type === 'FreeUser' " title="Free User" class="icon-type">👶🏻</span>
                  <span *ngIf="user.type === 'PremiumUser' " title="Premium User" class="icon-type">🏅</span>
                  <span *ngIf="user.type === 'Chef' " title="Chef" class="icon-type">👨🏻‍🍳</span>
                  <button class="btn follow">Suscribir</button>
                </p>
              </div>
              <hr><p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>{{user.email}}</p><hr>
            </div>
          </div>
        </div>
    </div>
  </div>
  <app-not-found *ngIf="!user"></app-not-found>
</div>
<div *ngIf="!fetched" class="app-spinner"></div>
