<div *ngIf="user" class="container">
  <div class="row">
    <div class="col-xs-2">
      <img class="img-circle profile-picture" alt="Profile Picture" src={{user?.profilePic}} >
    </div>
    <div class="heading">
      <p>
        <span class="name">{{user?.name}} {{user?.lastName}} </span>
        <span *ngIf="user?.type === 'FreeUser' "    class="icon-badge" title="Free User">👶🏻</span>
        <span *ngIf="user?.type === 'PremiumUser' " class="icon-badge" title="Premium User">🏅</span>
        <span *ngIf="user?.type === 'ChefUser' "    class="icon-badge" title="Chef User">👨🏻‍🍳</span>
        <span *ngIf="user?.type === 'AdminUser' "   class="icon-badge" title="Admin User">🃏</span>
        <button *ngIf="user?.id === loggedUser?.id" class="btn subscribe" data-toggle="modal" data-target="#editUserModal">Editar</button>
        <button *ngIf="!subscribed && user?.id !== loggedUser?.id; else subscripto"  class="btn subscribe" (click)="subscribe()">Suscribir</button>
        <ng-template #subscripto>
          <button *ngIf="subscribed;" class="btn subscribe" (click)="unSubscribe()">Desuscribir</button>
        </ng-template>
      </p>
      <p class="mail">
        <span class="glyphicon glyphicon-envelope one"></span><a href="mailto:{{user?.email}}">{{user?.email}}</a>
      </p>
    </div>
  </div>

  <div class="panel with-nav-tabs panel-default">
    <div class="panel-heading">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab"><b>{{recipes?.length}}</b> recetas</a></li>
        <li><a href="#tab2" data-toggle="tab" (click)="fetchNews()"><b>{{news?.length}}</b> noticias</a></li>
        <li><a href="#tab3" data-toggle="tab" (click)="fetchCategories()"><b>{{categories?.length}}</b> categorías</a></li>
        <li><a href="#tab4" data-toggle="tab" (click)="fetchFollowing()"><b>{{following?.length}}</b> siguiendo</a></li>
        <li><a href="#tab5" data-toggle="tab" (click)="fetchFollowing()"><b>{{followers?.length}}</b> seguidores</a></li>
      </ul>
    </div>
    <div class="panel-body">
      <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1">
          <app-recipe-list [recipes]="recipes"></app-recipe-list>
          <ng-container *ngIf="recipes?.length == 0">El usuario no tiene recetas 😕</ng-container>
        </div>
        <div class="tab-pane fade" id="tab2">
          <div class="scrollmenu">
              <div *ngFor="let n of news">
                <div style="padding-right: 20px">
                  <app-news-preview [news]="n" [onProfile]="true"></app-news-preview>
                </div>
              </div>
          </div>
          <ng-container *ngIf="news?.length == 0">El usuario no tiene noticias 😕</ng-container>
        </div>
        <div class="tab-pane fade" id="tab3">
          <div class="col-lg-6">
            <ng-container *ngIf="categories?.length == 0">El usuario no sigue a ninguna categoría 😕</ng-container>
            <div class="categories">
              <ul>
                <ng-container *ngFor="let c of categories; let i = index">
                  <li *ngIf="user?.id === loggedUser?.id" (click)="unSubscribeToCategory(i)">
                    x {{c?.name}}
                  </li>
                  <li *ngIf="user?.id !== loggedUser?.id">
                    {{c?.name}}
                  </li>
                </ng-container>
              </ul>
            </div>
          </div>
          <div class="col-lg-6">
            <div *ngIf="user?.id === loggedUser?.id">
              <div class="form-group">
                <input id="category" class="form-control" placeholder="Presione enter luego de cada categoria" list="categoryList" [(ngModel)]="categoryQuery" (keyup.enter)="subscribeToCategory()">
                <datalist id="categoryList">
                  <option *ngFor="let c of unFollowedCategories" [value]="c.name"></option>
                </datalist>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="tab4">
          <ul style="list-style: none;">
            <ng-container *ngIf="following?.length == 0">El usuario no sigue a otras personas 😕</ng-container>
            <ng-container *ngFor="let n of following; let i = index;">
              <li><img alt="Pic" src="{{n.profilePic}}" class="img-circle follower"><a href="javascript://" class="follower" (click)="followingClickListener(i)">{{n.name}} {{n.lastName}}</a></li>
            </ng-container>
          </ul>
        </div>
        <div class="tab-pane fade" id="tab5">
          <ul style="list-style: none;">
            <ng-container *ngIf="followers?.length == 0">El usuario no tiene seguidores. 😕 <a href="javascript://" *ngIf="user?.id != loggedUser?.id" (click)="subscribe()">Seguilo!</a></ng-container>
            <ng-container *ngFor="let n of followers; let i = index;">
              <li><img alt="Pic" src="{{n.profilePic}}" class="img-circle follower"><a href="javascript://" class="follower" (click)="followerClickListener(i)">{{n.name}} {{n.lastName}}</a></li>
            </ng-container>
          </ul>
        </div>
      </div>
    </div>
    <br/>
  </div>
</div>
<app-not-found *ngIf="!user"></app-not-found>

<!-- Edit Profile Modal -->
<div id="editUserModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="profileForm">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" #closeBtn>&times;</button>
          <h4 class="modal-title">Editar Perfil</h4>
        </div>
        <div class="modal-footer">
          <div class="row">
            <p class="header">Nombre</p>
            <input type="text" class="form-control" id="name" formControlName="name" placeholder={{user?.name}}>
          </div>
          <div class="row">
            <p class="header">Apellido</p>
            <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder={{user?.lastName}}>
          </div>
          <div class="row">
            <p class="header">Mail</p>
            <input type="email" name="email" class="form-control" id="email" formControlName="email" placeholder={{user?.email}}>
          </div>
          <div class="row">
            <button class="btn btn-danger" data-toggle="modal" data-dismiss="modal" data-target="#confirm">
              Eliminar Cuenta
            </button>
            <button type="submit" class="btn btn-primary" data-dismiss="modal" [disabled]="!profileForm.valid" (click)="editProfile()">
              Guardar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Confirm Dialog -->
<div id="confirm" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" style="left: 15%; margin-top: 20%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" #closeBtn>&times;</button>
        <h4 class="modal-title text-center">¿Seguro desea eliminar su cuenta?</h4>
      </div>
      <div class="modal-footer" style="text-align: center">
        <div class="row">
          <p>Perderás todas tus recetas, comentarios y seguidores</p>
          <p>Esta acción no tiene vuelta atrás. </p>
        </div>
        <div class="row">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteUser()">
            Eliminar Cuenta
          </button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">
            No! Quiero continuar ️
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


