<div class="container-fluid header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div style="margin-bottom: 10px">
          <h1 style="display: inline; margin-right: 10px">Recetarios</h1>
          <button style="vertical-align: text-bottom"
                  type="button" class="btn btn-secondary btn-sm"
                  data-toggle="modal" data-target="#createRecipeBookModal"
                  title="Crear Recetario">
            <a href="javascript://">
              <span class="glyphicon glyphicon-plus"></span>
            </a>
          </button>
        </div>

        <p>
          <strong>Todos tus recetarios para organizar de la mejor forma todas tus recetas preferidas</strong>
        </p>
      </div>
    </div>
  </div>
</div>


<div *ngIf="recipeBooks.length == 0; else recipeBooksList" class="recetarios">
Crea recetarios para organizar tus recetas y sacar el maximo provecho del usuario Premium!!!
</div>
<ng-template #recipeBooksList>
  <app-recipe-book-item *ngFor="let recipeBook of recipeBooks" [recipeBook]="recipeBook" [recipeBooks]="recipeBooks">
  </app-recipe-book-item>
</ng-template>

<!-- Modal -->
<div id="createRecipeBookModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <form [formGroup]="recipeBookForm">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" #closeBtn>&times;</button>
          <h4 class="modal-title">Crear Recetario</h4>
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col-md-8 col-xs-8 col-sm-8 alert-block">
              <input type="text"
                     class="form-control"
                     id="recipeBookName"
                     formControlName="recipeBookName"
                     placeholder="Nombre del Recetario">
            </div>
            <div class="col-md-4 col-xs-4 col-sm-4">
              <button type="button" class="btn btn-default"
                      data-dismiss="modal" [disabled]="!recipeBookForm.valid"
                      (click)="createRecipeBook()">
                Crear
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>
