<!-- Modal -->
<div id="addToRecipeBookModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Agregar Receta a Recetario</h4>
      </div>
      <div class="modal-body">
        <p>ng for de todos los recetarios que tengo, y
          el que elije mandarlo (quizas un form y submit button)</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addToRecipeBook()">Agregar</button>
      </div>
    </div>

  </div>
</div>
