@import "../../assets/styles/variables.scss";

.container{
  width: 100%;
  overflow: hidden
}

.home-image{
  width: 100%;
  max-height: 500px;
  position: relative;
}

h1 {
  color: white;
  font-size: 35px;
}

.homeText{
  position: absolute;
  bottom: 350px;
  margin-left: 5%;
  z-index: 10;
}

.searchBox {
  position: absolute;
  bottom: 200px;
  margin-left: 10%;
  z-index: 10;
}

.stylish-input-group .input-group-addon{
  background: white !important;
}
.stylish-input-group .form-control{
  border-right:0;
  box-shadow:0 0 0;
  border-color:#ccc;
}
.stylish-input-group button{
  border:0;
  background:transparent;
}
