<img class="img-responsive center-block home-image" src="assets/images/home/home2.jpg" alt="Home">


<div class="row">
  <div class="col-6">
    <h1>TODAS LAS RECETAS EN UN SOLO LUGAR!</h1>
  </div>


</div>


<h2>
  <div class="input-group stylish-input-group">
    <input type="text" class="form-control"  placeholder="Search" >
    <span class="input-group-addon">
        <button type="submit">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </span>
  </div>
</h2>
