<div class="bs-component">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">🍋 Recetame la Receta</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><button class="btn btn-default">Facebook Login</button></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row first-section">
      <div class="container first-section-content">
        <h1>Todas las recetas 🥘 🥗 en un solo lugar</h1>
      </div>
    </div>
    <div class="row third-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Sumate a la primera comunidad de chefs 👨🏻‍🍳 amateurs del mundo</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row second-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Prepará comidas elaboradas en tu propia casa</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-image">

              </div>
              <div class="card-content">
                <h3>Fideos a la pizza</h3>
                <p>Capellties marinados en una salsa con orégano y cubiertos por queso muzzarella gratinado.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-image">

              </div>
              <div class="card-content">
                <h3>Pizzanesa</h3>
                <p>Cosas de cocina que no tengo idea que poner, es una milanesa con queso de pizza.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-image">
                <img src="assets/images/pasta.jpg">
              </div>
              <div class="card-content">
                <h3>Rissotto</h3>
                <p>No estoy seguro como se escribe pero igual se entiende la idea.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <ul>
            <li class="title">Legal</li>
            <li><a href="#">Terminos y condiciones</a></li>
            <li><a href="#">Privacidad</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul>
            <li class="title">Ayuda</li>
            <li><a href="#">Soporte</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9"></div>
        <div class="col-md-3"><span class="sign">@ 2017 Recetame la receta</span></div>
      </div>
    </div>
  </footer>
</div>
