<section>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <img class="img-responsive carousel-img center-block" src="assets/images/home/ingredientes.jpeg" alt="Carne">
        <div class="carousel-caption">
          <h3>Convertite en Chef 👨🏻‍🍳</h3>
          <p>Mejorá tus habilidades</p>
        </div>
      </div>

      <div class="item">
        <img class="img-responsive carousel-img center-block" src="assets/images/home/sand.jpg" alt="Hamburguesa">
        <div class="carousel-caption">
          <h3>Platos caseros  🍳</h3>
          <p>Hacelos en tu casa</p>
        </div>
      </div>

      <div class="item">
        <img class="img-responsive carousel-img center-block" src="assets/images/home/thai.jpg" alt="Sandwich">
        <div class="carousel-caption">
          <h3>Descubre recetas 🥘</h3>
          <p>Encontrá lo que buscas</p>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <!--<a class="left carousel-control" href="#myCarousel" data-slide="prev">-->
      <!--<span class="glyphicon glyphicon-chevron-left"></span>-->
      <!--<span class="sr-only">Previous</span>-->
    <!--</a>-->
    <!--<a class="right carousel-control" href="#myCarousel" data-slide="next">-->
      <!--<span class="glyphicon glyphicon-chevron-right"></span>-->
      <!--<span class="sr-only">Next</span>-->
    <!--</a>-->
  </div>
</section>

<div class="container-fluid">
  <div class="row second-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Prepará comidas elaboradas en casa 🏠</h2>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>
