/** Fade Overlay */
.container {
  position: relative;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.image {
  display: block;
  border-radius: 5px;
  border:5px solid #4abdac;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6);
}

.content {
  text-align: center;
  opacity: 1;
  color: #4abdac;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 60%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.container:hover .overlay {
  opacity: 1;
}

.container:hover .content {
  opacity: 1;
}

.container:hover .recipe-name {
  opacity: 0;
}

.container:not(:hover) .recipe-name  {
  padding: 4px 8px;
  border-radius: 20px;
  background-color: #4abdac;
  color: white;
  left: 50%;
  top: 50%;
  max-width: max-content;
  min-width: 100px;
  min-height: 0px;
  height: 13%;
  font-size: 20px;
  text-align: center;
}

.title {
  margin-bottom: 5%;
}

.author {
  margin-top: 10%;
  margin-bottom: -2%;
}

.card-description {
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: -10px;
}

.eliminateButton{
  text-align: right;
  padding-top: 5px;
  padding-right: 20px;
}
