/** Fade Overlay */
.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: auto;
  height: 300px;
  border-radius: 5px;
  border:5px solid #4abdac;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  right: 0;
  height: 100%;
  width: 186%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
  border-radius: 5px;
}

.text {
  text-align: center;
  opacity: 1;
  color: #4abdac;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.container:hover .overlay {
  opacity: 0.6;
}

.card {
  padding: 20px;
}

.container:hover .recipe-name {
  opacity: 0;
}

.container:not(:hover) .recipe-name  {
  padding: 4px 8px;
  border-radius: 20px;
  background-color: #4abdac;
  color: white;
  left: 100%;
  top: 50%;
  width: 60%;
  height: 13%;
  font-size: 20px;
}

.card-title {
  text-align: center;
  opacity: 1;
  color: #4abdac;
  position: absolute;
  left: 56%;
  top: -115%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.card-author {
  margin-bottom: -4%;
}

.eliminateButton{
  text-align: right;
  padding-top: 5px;
}
