<div class="card">
<div class="container">
  <img src="{{recipe.images[0].url}}" class="image">
  <button class="btn text label recipe-name">{{recipe.name}}</button>
  <div class="overlay">
    <div class="row eliminateButton">
      <button *ngIf="onRecipeBook" type="button" class="btn btn-danger btn-xs"
              (click)="deleteFromRecipeBook()"
              title="Eliminar Receta del Recetario">
        <a href="javascript://"><span class="glyphicon glyphicon-remove"></span></a>
      </button>
    </div>
    <div class="text">
      <div class="row card-title">
        <h2 style="margin-bottom: 10%;">{{recipe.name}}</h2>
        <star-rating-comp [starType]="'svg'" [rating]="recipe.rating"></star-rating-comp>
      </div>
      <div class="row">
        <p class="card-author">👨🏾‍🍳 {{author?.name}} {{author?.lastName}}</p>
        <P>_____________________________</P>
        <p class="card-description">
          {{recipe.description.substring(0, 22).concat('...')}}
          <a (click)="toRecipe()">Seguir leyendo</a>
        </p>
      </div>
    </div>
  </div>
</div>
</div>
<app-not-logged></app-not-logged>
