<div class="container">
  <img src="{{recipe.images[0].url}}" class="image">
  <div class="overlay">
    <div class="row">
      <div class="col-xs-9 overlay text">
        <h3 class="card-title">{{recipe.name}}</h3>
      </div>
      <div class="col-xs-3 eliminateButton">
        <button *ngIf="onRecipeBook" type="button" class="btn btn-danger btn-xs"
                (click)="deleteFromRecipeBook()"
                title="Eliminar Receta del Recetario">
          <a href="javascript://">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
        </button>
      </div>
    </div>
    <div class="row">
      <p class="text">
        {{recipe.description}}
        <a (click)="toRecipe()">Seguir leyendo...</a>
      </p>
    </div>
  </div>
</div>

<app-not-logged></app-not-logged>
