.thumbnail {
  padding: 15px;
  min-width: 250px;
}

.profile-picture {
  width: 60px;
  height: 60px;
}

.title {
  margin-top: 10px;
  margin-bottom: -10px;
}

.date {
  color: #95a5a6;
  font-size: 12px;
  margin-top: -5px;
}

.media {
  border-radius: 5px;
}

.video-display {
  margin: 0 auto;
  display: block;
}

.card-text {
  margin-top: 5px;
  margin-bottom: -5px
}
