<div class="thumbnail">
  <div class="row header">
    <div class="col-lg-2">
      <img class="img-circle profile-picture" alt="Profile Picture" [src]="news?.author.profilePic">
    </div>
    <div class="col-lg-10 author">
      <h4><a [routerLink]="'/usuario/' + news?.author?.id + '/perfil'">{{ news?.author?.name + ' ' + news?.author?.lastName }}</a></h4>
      <div class="date">{{news?.created | messageTime}}</div>
    </div>
  </div>
  <div class="row">
    <div *ngIf="news?.recipe">
      <div style="padding-top: 15px">
        <app-recipe-card [recipe]="news?.recipe" [onRecipeList]="false"></app-recipe-card>
      </div>
    </div>
    <div *ngIf="!news?.recipe">
      <h3 class="title">📣 <a [routerLink]="'/noticias/' + news?.id"><b>{{ news?.title }}</b></a></h3>
      <div class="media">
        <div *ngIf="news?.videoUrl">
          <iframe class="video-display" [src]="embedVideoUrl" frameborder="0" allowfullscreen></iframe>
        </div>
        <div *ngIf="!news?.videoUrl && news?.image">
          <img width="100%" [src]="news.image?.url">
        </div>
      </div>
      <p>{{ description }}</p>
    </div>
  </div>
</div>
