<div class="container">
  <div class="component">
    <h1>Nueva receta</h1>
    <br>
    <div class="row">
      <div class="col col-md-8">
        <div class="form-group">
          <input [(ngModel)]="recipeInput.name" name="name" class="form-control" placeholder="Nombre">
        </div>
        <div class="form-group">
          <textarea [(ngModel)]="recipeInput.description" name="description" class="form-control" rows="3" placeholder="Descripción"></textarea>
        </div>
        <div class="form-group">
          <input class="form-control" placeholder="Ingredientes">
        </div>
        <div *ngIf="steps.length > 0">
          <p><strong>Pasos:</strong></p>
          <ol>
            <li *ngFor="let step of steps; let i = index">
              {{ step }} <span class="deleteStep" (click)="steps.splice(i, 1)">X</span>
            </li>
          </ol>
        </div>
        <div class="form-group">
          <input #step class="form-control" placeholder="Pasos" (keyup.enter)="steps.push(step.value)">
        </div>
        <div class="form-group">
          <label>Categorias</label>
          <select [(ngModel)]="categories">
            <!--TODO tags que aparezcan a medida que uno va escribiendo o lo mostramos en forma de lista-->
            <!--Como esta abajo se muestra en forma de la lista todas las categorias-->
            <option *ngFor="let category of categories" [ngValue]="category">{{ category.name }}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Dificultad</label>
          <div class="radio">
            <label>
              <input [(ngModel)]="recipeInput.difficulty" value="1" type="radio" name="dificultad"> muy fácil
            </label>
          </div>
          <div class="radio">
            <label>
              <input [(ngModel)]="recipeInput.difficulty" value="2" type="radio" name="dificultad"> fácil
            </label>
          </div>
          <div class="radio">
            <label>
              <input [(ngModel)]="recipeInput.difficulty" value="3" type="radio" name="dificultad"> intermedio
            </label>
          </div>
          <div class="radio">
            <label>
              <input [(ngModel)]="recipeInput.difficulty" value="4" type="radio" name="dificultad"> dificil
            </label>
          </div>
          <div class="radio">
            <label>
              <input [(ngModel)]="recipeInput.difficulty" value="5" type="radio" name="dificultad"> muy dificil
            </label>
          </div>
        </div>
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
      <div class="col col-md-4">
        <div class="form-group">
          <img class="img-responsive" style="margin-bottom: 20px" *ngIf="image" [src]="image.url">
          <input style="display: none" (change)="uploadImage($event)" type="file" id="image" accept="image/*">
          <button class="btn btn-primary btn-sm" onclick="document.getElementById('image').click()" [disabled]="uploadingImage">
            {{ uploadingImage ? 'Subiendo' : 'Seleccionar imágen' }}
          </button>
        </div>
        <div class="form-group">
          <input [(ngModel)]="recipeInput.videoUrl" name="videoUrl" class="form-control" placeholder="Link a video">
        </div>
      </div>
    </div>
  </div>
</div>
