<div class="container">
  <div class="component">
    <h1>Nueva receta</h1>
    <br>
    <form >
      <div class="form-group">
        <input ngModel="recipeInput.name" class="form-control" placeholder="Nombre">
      </div>
      <div class="form-group">
        <textarea class="form-control" rows="3" placeholder="Descripción"></textarea>
      </div>
      <div class="form-group">
        <input class="form-control" placeholder="Ingredientes">
      </div>
      <div class="form-group">
        <input class="form-control" placeholder="Categorias">
      </div>
      <div class="form-group">
        <input class="form-control" placeholder="Link a video">
      </div>
      <div class="form-group">
        <label for="imagen">Imágen</label>
        <input type="file" id="imagen">
      </div>
      <div class="form-group">
        <label>Dificultad</label>
        <div class="radio">
          <label>
            <input type="radio" name="dificultad"> muy fácil
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="dificultad"> fácil
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="dificultad"> intermedio
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="dificultad"> dificil
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="dificultad"> muy dificil
          </label>
        </div>
      </div>
      <br>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>
