<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
              aria-expanded="true">
        <span class="sr-only">Abrir menú</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">🍽 Recetame la Receta</a>
    </div>
    <div class="navbar-collapse collapse in" id="bs-example-navbar-collapse-1" aria-expanded="true" style="">
      <ul class="nav navbar-nav navbar-right">

        <div *ngIf="!isLoggedIn; else loggedIn">
          <!--Notificaciones del usuario premium-->
          <li>
            <app-log-in></app-log-in>
          </li>
        </div>
        <ng-template #loggedIn>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
              Notificaciones {{(notificationList.length != 0) ? ('(' + notificationList.length + ')') : '' }}
              🔔 <span class="caret"></span>
            </a>
            <div class="dropdown-menu" role="menu">
              <!--<ng-container *ngFor="let n of notificationList.reverse(); let i = index">-->
                <!--<li><a href="javascript://" *ngIf="n.title=='SUBSCRIPTION'" (click)="notificationClicklistener(i)">-->
                  <!--<div><b>{{ n.senderName }}</b> se subscribió a tu perfil</div>-->
                  <!--<div><h6>{{n.time | date: 'mediumTime'}}</h6></div>-->
                  <!--<div><img src={{n.senderPic}} alt="Pic" height="25" width="25" class="header-pic"></div></a>-->
                <!--</li>-->
                <!--<li class="divider"></li>-->
              <!--</ng-container>-->
              <div *ngFor="let n of notificationList.reverse(); let i = index" class="notification-hover">
                <div *ngIf="n.title=='SUBSCRIPTION'" (click)="notificationClicklistener(i)" class="notification-flex">
                  <div class="left">
                    <div><img src={{n.senderPic}} alt="Pic" height="25" width="25" class="header-pic"></div>
                  </div>
                  <div class="right">
                    <div><b>{{ n.senderName }}</b> se subscribió a tu perfil</div>
                    <div><h6>{{n.time | date: 'mediumTime'}}</h6></div>
                  </div>
                </div>
              </div>
              <div *ngIf="notificationList.length == 0"><a href="#">No tenés nuevas notificaciones</a></div>
            </div>
          </li>
          <!--Panel Usuario-->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">{{user?.name}} {{user?.lastName}}
              <!--<span class="glyphicon glyphicon-user"></span>-->
              <img src={{user?.profilePic}} alt="Pic" height="25" width="25" class="header-pic">
              <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li (click)="myProfile()"><a href="javascript://">Mi Perfil</a></li>
              <li class="divider"></li>
              <li><a href="#">Opciones</a></li>
              <li class="divider"></li>
              <li *ngIf="!isPremium" (click)="premium()"><a href="javascript://">Hacete Premium</a></li>
              <li *ngIf="!isPremium" class="divider"></li>
              <li (click)="crearReceta()"><a href="javascript://">Crear Receta</a></li>
              <li class="divider"></li>
              <li *ngIf="isPremium" (click)="addToRecipeBook()"><a href="javascript://">Recetarios</a></li>
              <li *ngIf="isPremium" class="divider"></li>
              <li><a href="javascript://" (click)="navDropdownLogoout()">Cerrar Sesión</a></li>
            </ul>
          </li>
        </ng-template>


      </ul>
    </div>


  </div>
</nav>

<app-upgrade></app-upgrade>
