.nav-btn {
  margin-top: 5%;
}

.navbar{
  margin-bottom: 0px;
}

.form-control{
  max-width: 80%;
  margin-bottom: 5px;
}

.price{
  text-align: left;
}

.modal-subtitle1{
  margin-left: 15px;
}

.eye{
  position: absolute;
  left: 70%;
  top: 83%;
}

.help-block{
  text-align: left;
}
