<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Abrir menú</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">🍽 Recetame la Receta</a>
    </div>
    <div class="navbar-collapse collapse in" id="bs-example-navbar-collapse-1" style="">
      <ul class="nav navbar-nav navbar-right">

        <div *ngIf="!isLoggedIn; else loggedIn">
          <!--Notificaciones del usuario premium-->
          <li>
            <app-log-in></app-log-in>
          </li>
        </div>
        <ng-template #loggedIn>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Notificaciones {{(notificationList.length != 0) ? ('(' + notificationList.length + ')') : '' }}
              🔔 <span class="caret"></span>
            </a>
            <div class="dropdown-menu" role="menu">
              <div *ngFor="let n of notificationList.reverse(); let i = index" class="notification-hover">
                <div (click)="notificationClicklistener(i)" class="notification-flex">
                  <div class="left">
                    <div><img src={{n.senderPic}} alt="Pic" height="25" width="25" class="header-pic"></div>
                  </div>
                  <div class="right">
                    <div><b>{{ n.senderName }}</b> {{n.message}}</div>
                    <div><h6>{{n.time | date: 'mediumTime'}}</h6></div>
                  </div>
                  <div class="close-button">X</div>
                </div>
              </div>
              <div *ngIf="notificationList.length == 0" class="notification-hover">No tenés nuevas notificaciones</div>
            </div>
          </li>
          <!--Panel Usuario-->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              {{user?.name}} {{user?.lastName}}
              <img src={{user?.profilePic}} alt="Pic" height="25" width="25" class="header-pic">
              <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li (click)="myProfile()" class="account-hover">Mi Perfil</li>
              <li *ngIf="!isPremium" (click)="premium()" class="account-hover">Hacete Premium</li>
              <li (click)="crearReceta()" class="account-hover">Crear Receta</li>
              <li *ngIf="isPremium" (click)="addToRecipeBook()" class="account-hover">Recetarios</li>
              <li *ngIf="isPremium" data-toggle="modal" data-target="#categories" class="account-hover">Categorias</li>
              <li (click)="navDropdownLogoout()" class="account-hover">Cerrar Sesión</li>
            </ul>
          </li>
        </ng-template>


      </ul>
    </div>


  </div>
</nav>

<app-categories></app-categories>
<app-upgrade></app-upgrade>
