.nav-btn {
  margin-top: 5%;
}

nav {
  border-radius: 0px;
  margin-bottom: 0px;
}

.dropdown-menu::-webkit-scrollbar{
  display: none;
}

.dropdown-menu {
  max-height: 250px;
  font-size: 13px;
  padding: 0;
  border: 0 solid;
  overflow-x: hidden;
  overflow-y: auto;
}

.form-control{
  max-width: 80%;
  margin-bottom: 5px;
}

.price{
  text-align: left;
}

.modal-subtitle1{
  margin-left: 15px;
}

.eye{
  position: absolute;
  left: 70%;
  top: 83%;
}

.help-block{
  text-align: left;
}

.header-pic {
  border-radius: 3px;
  margin-right: 10px;
  margin-left: 2px;
}

li {
  display: flex;
}

.notification-hover {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box; /* Cualquier padding que agreguemos no va a aumentar su tamaño. */
  min-width: 240px;
}

.account-hover {
  padding: 8px;
  color: #7b8a8b;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box; /* Cualquier padding que agreguemos no va a aumentar su tamaño. */
  min-width: 100px;
}

.notification-hover:hover {
  background: #f0f0f0;
}

.account-hover:hover {
  background: #f0f0f0;
}

.notification-flex {
  display: flex;
}

.right > div > h6{
  font-size: 12px;
  color: #999 !important;
}

.close-button {
  color: #999;
  padding: 0 5px;
  cursor: pointer;
}

.close-button:hover {
  color: #000000;
}


