<div class="container-fluid header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div style="margin-bottom: 10px">
          <h1 style="display: inline; margin-right: 10px">Solicitudes</h1>
        </div>
        <p>
          <strong>👶🏻 Free 🏅 Premium 👨🏻‍🍳 Chef</strong>
        </p>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-6"><!--Manage Request-->
    <div class="users-container col-sm-offset-3">

      <p class="title">Solicitantes</p>


      <div class="row" style="color: #fc4a1a; text-align:center" *ngIf="usersRequesting?.length == 0">
        No hay nuevas solicitudes
      </div>
      <div class="bold" *ngIf="usersRequesting?.length > 0">
        Nombre:
      </div>

      <div class="users-list" id="style-3">

        <div *ngFor="let user of usersRequesting" class="users">

          <div class="col-sm-6">
            {{user.user.name}} {{user.user.lastName}}
          </div>
          <div class="col-sm-6">
            <button type="button" class="btn btn-default btn-xs btn-details"
                    data-toggle="modal" data-target="#details"
                    (click)="openDetails(user)">
              ver detalles
            </button>
            <button type="button" class="btn btn-primary btn-xs"
                    title="Aceptar"
                    (click)="acceptRequest(user)">
              <a href="javascript://">
                <span class="glyphicon glyphicon-ok"></span>
              </a>
            </button>
            <button type="button" class="btn btn-danger btn-xs"
                    title="Rechazar"
                    (click)="rejectRequest(user)">
              <a href="javascript://">
                <span class="glyphicon glyphicon-remove"></span>
              </a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6"><!--User's List-->

    <div class="users-container">

      <p class="title">Usuarios</p>

      <div class="row">
        <div class="col-sm-5 bold">
          Nombre:
        </div>
        <div class="col-sm-4 bold">
          Tipo:
        </div>
      </div>

      <div class="row" style="padding-left: 20px">
        <div class="users-list">
          <div class="row" *ngFor="let user of users">
            <div class="col-sm-5" style="margin-bottom: 7px">
              {{user.name}} {{user.lastName}}
            </div>
            <div class="col-sm-4" style="margin-bottom: 7px">
              <div *ngIf="user.type == 'FreeUser'">
                👶🏻 Free
              </div>
              <div *ngIf="user.type == 'PremiumUser'">
                🏅 Premium
              </div>
              <div *ngIf="user.type == 'ChefUser'">
                👨🏻‍🍳 Chef
              </div>
              <div *ngIf="user.type == 'AdminUser'">
                🃏 Admin
              </div>
            </div>
            <div class="col-sm-2" style="text-align: right; margin-bottom: 7px" *ngIf="user.type != 'AdminUser'">
              <button type="button" class="btn btn-primary btn-xs"
                      (click)="makeAdmin(user.id)"
                      title="Hacer Admin"
                      id="{{user.id}}">
                <a href="javascript://">
                  <span class="glyphicon glyphicon-hand-up"></span>
                </a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<app-chef-request-details [userRequest]="userRequesting"></app-chef-request-details>
