.form-control{
  max-width: 95%;
  margin-bottom: 5px;
}

.modal-subtitle{
  margin-left: 15px;
}

.price{
  color: #4ABDAC;
  font-size: 16px;
  text-align: center;
}

.help-block{
  color: #FC4A1A;
  font-size: 10px;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched{
  border: 1px solid red;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

.wrapper {
  position: relative;
}

.wrapper span {
  position: absolute;
  left: 83%;
  top: 34%;
}

.wrapper span:hover {
  background-color: #95a5a6;
  cursor: pointer;
}
