<div *ngIf="fetched">
  <div *ngIf="recipe">
    <div class="container-fluid header">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div style="margin-bottom: 10px">
              <h1 style="display: inline; margin-right: 10px">{{ recipe.name }}</h1>
              <button style="vertical-align: text-bottom" *ngIf="editButton" type="button"
                      class="btn btn-primary btn-sm" title="Editar Receta" (click)="checkPremium()">
                <a href="javascript://">
                  <span class="glyphicon glyphicon-pencil"></span>
                </a>
              </button>


              <button style="vertical-align: text-bottom"
                      *ngIf="canAddToRecipeBook"
                      type="button" class="btn btn-secondary btn-sm"
                      data-toggle="modal" data-target="#addToRecipeBookModal"
                      title="Agregar a Recetario">
                <a href="javascript://">
                  <span class="glyphicon glyphicon-plus"></span>
                </a>
              </button>
            </div>

            <app-facebook-share [recipe]="recipe"></app-facebook-share>


            <div style="display: flex; margin-bottom: 10px" *ngIf="!editButton">
              <star-rating-comp style="margin-left: -6px" [starType]="'svg'" [hoverEnabled]="true"
                                [rating]="recipeRating.rating" (onClick)="addRating($event)"
                                [size]="'large'"></star-rating-comp>
            </div>


            <p>
              <strong>Descripción:</strong>
              {{ recipe.description }}
            </p>

            <strong>Categorias:</strong>
            <span *ngIf="recipe.categories.length == 0" class="label label-default">Sin categoria</span>
            <span *ngFor="let cat of recipe.categories" class="label label-default">{{ cat.name }}</span>
          </div>
          <div class="col-md-5">
            <ul class="nav nav-tabs nav-justified" role="tablist">
              <li role="presentation" class="active"><a href="#general-images" aria-controls="imagenes" role="tab"
                                                        data-toggle="tab">Imágenes</a></li>
              <li *ngIf="recipe.videoUrl" role="presentation"><a href="#video" aria-controls="video" role="tab"
                                                                 data-toggle="tab">Video</a></li>
            </ul>
            <br>
            <div class="tab-content">
              <div *ngIf="recipe.videoUrl" role="tabpanel" class="tab-pane" id="video">
                <iframe class="video-display" width="560" height="315" [src]="embedVideoUrl" frameborder="0"
                        allowfullscreen></iframe>
              </div>
              <div role="tabpanel" id="general-images" class="carousel slide tab-pane active" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li *ngFor="let image of recipe.images; let first = first" data-target="#general-images"
                      [attr.data-slide-to]="i" [ngClass]="{ active: first }"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                  <div *ngFor="let image of recipe.images; let first = first" class="item"
                       [ngClass]="{ active: first }">
                    <img style="width: 100%" [src]="image.url">
                  </div>
                </div>
                <a class="left carousel-control" href="#general-images" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#general-images" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="component">
        <div class="recipe-info-up">
          <div>
            <span class="emoji">👨🏾‍🍳</span>
            <span routerLink="/usuario/{{recipe.author.id}}/perfil">{{ recipe.author.name }} {{ recipe.author.lastName }}</span>
          </div>
          <div>
            <span class="emoji">🏋🏽</span>
            <span [ngSwitch]="recipe.difficulty">
              <span class="label label-default" *ngSwitchCase="1">muy fácil</span>
              <span class="label label-default" *ngSwitchCase="2">fácil</span>
              <span class="label label-default" *ngSwitchCase="3">intermedio</span>
              <span class="label label-default" *ngSwitchCase="4">dificil</span>
              <span class="label label-default" *ngSwitchDefault>muy dificil</span>
            </span>
          </div>
          <div>
            <star-rating-comp [starType]="'svg'" [rating]="recipe.rating" [showHalfStars]="true"
                              [readOnly]="true"></star-rating-comp>
          </div>
          <div>
            <span class="emoji">🍽</span>
            <span>{{ recipe.servings }} {{ recipe.servings > 1 ? 'porciones' : 'porción' }}</span>
          </div>
          <div>
            <span class="emoji">⏰</span>
            <span>{{ recipe.duration }} minutos</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="box-background">
              <h4 class="text-center">🍞 INGREDIENTES</h4>
              <ul>
                <li *ngFor="let f of recipe.ingredients">{{ formatter.capitalizeFirstChar(f.ingredient.name) }}: {{
                  f.quantity }} {{ f.unit }}
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-9">
            <div class="box-background">
              <h4>✅ PASOS</h4>
              <div>
                <ol>
                  <li *ngFor="let step of recipe.steps">
                    <div class="row" *ngIf="step.image">
                      <div class="col col-md-8"><p>{{ step.description }}</p></div>
                      <div class="col col-md-4"><img class="img-responsive thumbnail" [src]="step.image.url"></div>
                    </div>
                    <div class="row" *ngIf="!step.image">
                      <div class="col col-md-12"><p>{{ step.description }}</p></div>
                    </div>
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>

        <div class="recipe-comments">
          <h3 class="text-center commentary-header">COMENTARIOS</h3>

          <div class="container">  <!--YO-->
            <div class="row">
              <div class="col-sm-12">
                <div class="widget-area no-padding blank">
                  <div class="status-upload">
                    <form>
                      <textarea placeholder="Que opinas de la receta {{viewer?.name}}?" #textArea></textarea>

                      <button (click)="publishComment(textArea.value); textArea.value='' "
                              class="btn btn-success comment">
                        <!--[disabled]="textArea.value==''">-->
                        Compartir
                      </button>
                    </form>
                  </div><!-- Status Upload  -->
                </div><!-- Widget Area -->
              </div>
            </div>
          </div>    <!--YO-->


          <div *ngFor="let commentary of commentaries" class="row">
            <div class="col-sm-offset-1 col-xs-1 col-sm-1 col-md-1">
              <div class="thumbnail">
                <img class="img-responsive user-photo img-circle" src="{{commentary?.author.profilePic}}">
              </div><!-- /thumbnail -->
            </div><!-- /col-sm-1 -->


            <div class="col-sm-6 col-xs-6 col-md-6">
              <div class="panel panel-default comment-body">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-sm-8">

                      <strong>{{commentary?.author.name}}</strong> <span class="text-muted">comentado {{commentary?.date | date: 'mediumTime'}}</span>

                    </div>

                    <div class="col-sm-4 delete-comment">

                      <div *ngIf="viewer.id == commentary?.author.id">
                        <button type="button" class="btn btn-danger btn-xs btn-eliminate"
                                (click)="deleteComment(commentary?.id)"
                                title="Eliminar Comentario">
                          eliminar
                        </button>
                      </div>

                    </div>

                  </div>


                </div>
                <div class="panel-body comment-text">
                  {{commentary?.comment}}
                </div><!-- /panel-body -->
              </div><!-- /panel panel-default -->
            </div><!-- /col-sm-5 -->

          </div>

        </div>

      </div>
    </div>
  </div>
  <app-not-found *ngIf="!recipe"></app-not-found>
</div>
<div *ngIf="!fetched" class="app-spinner"></div>


<app-add-to-recipe-book *ngIf="viewer.type != 'FreeUser'" [recipe]="recipe"></app-add-to-recipe-book>
