.header {
  background-color: #f5f5f5;
  padding: 30px;
  margin-bottom: 30px;
}

.btn-secondary{
  background-color: #f7b733;
}

p{
  font-size: 10px;
}
p:hover {
  text-decoration: underline;
  cursor: pointer;
}
