@import "variables";
@import "../../../node_modules/bootswatch/flatly/variables";
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../../node_modules/bootswatch/flatly/bootswatch";
@import "../../../node_modules/angular2-toaster/toaster.css";

nav{
  background-color: $gray-white;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 160px !important;
}
footer {
  background-color: $gray-white;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  /* Set the fixed height of the footer here */
  height: 160px;
}

@media (max-width: 991px) {
  body {
    /* Margin bottom by footer height */
    margin-bottom: 250px !important;
  }
  footer {
    /* Set the fixed height of the footer here */
    height: 250px;
  }
}

.app-spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
      opacity: 0;
    }
}

.label {
  margin: 0 4px 4px 0;
}

.label .label-button {
  margin-left: 4px;
  cursor: pointer;
}
