@import "variables";
@import "bootstrap";
@import "toaster";
@import "spinner";
@import "~angular-star-rating/assets/scss/star-rating";

/* Make footer stay at bottom */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 160px !important; // Margin bottom by footer height
}
footer {
  background-color: $gray-white;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  height: 160px; // Fixed height of footer
}
@media (max-width: 991px) {
  body {
    margin-bottom: 250px !important; // Margin bottom by footer height
  }
  footer {
    height: 250px; // Fixed height of footer
  }
}

/* Label customization */
.label {
  margin: 0 4px 4px 0;
}
.label .label-button {
  margin-left: 4px;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  color: $brand-primary !important;
}

button a {
  color: white;
  &:hover, &:active, &:visited, &:link {
    color: white;
  }
}
