$icon-font-path: "../../../node_modules/bootstrap-sass/assets/fonts/bootstrap/";

$gray-white:            #f5f5f5 !default;

$brand-primary:         #4ABDAC !default;
$brand-secondary:       #FC4A1A !default;
$brand-success:         $brand-primary !default;
$brand-info:            #F7B733 !default;

$link-color:            $brand-secondary !default;
$navbar-default-link-hover-color: white !default;
