@import "../../../assets/styles/variables.scss";

.results {
  padding: 30px;
  margin-top: 30px;
  background-color: $gray-white;
  border-radius: 5px;
}

.result {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
