<div class="container">
  <div class="row">
    <div class="col col-md-3">
      <h1>Buscar recetas</h1><br>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="query.name" (keyup.enter)="search()">
          </div>
          <app-category-picker [picked]="selectedCategories" label="Categorías"></app-category-picker>
          <app-ingredient-picker *ngIf="viewer.type == 'PremiumUser'" [picked]="selectedIngredients" label="Ingredientes"></app-ingredient-picker>
          <div class="form-group">
            <label for="difficulty">Dificultad</label>
            <select id="difficulty" class="form-control" [(ngModel)]="query.difficulty">
              <option *ngFor="let d of difficulties" [value]="d.value">
                {{ d.display }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="author">Autor</label>
            <input type="text" class="form-control" id="author" [(ngModel)]="query.author" (keyup.enter)="search()">
          </div>
          <button class="btn btn-primary" (click)="search()">Buscar</button>
        </div>
      </div>
    </div>
    <div class="col col-md-9 results">
      <div *ngIf="results.length == 0" class="alert alert-success" role="alert">🎩🐇 Nada que mostrar por aquí...</div>
      <div class="row result" *ngFor="let r of results">
        <div class="col col-md-3">
          <a [routerLink]="'/recetas/' + r.id">
            <img class="thumbnail img-responsive" style="width: 100%" [src]="r.images[0].url">
          </a>
        </div>
        <div class="col col-md-9">
          <h4>
            <a [routerLink]="'/recetas/' + r.id">
              {{ r.name }}
            </a>
          </h4>
          <p routerLink="/usuario/{{r.author.id}}/perfil">👨🏾‍🍳 {{ r.author.name + " " + r.author.lastName }}</p>
          <span *ngFor="let cat of r.categories" class="label label-default">{{ cat.name }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
