.createButton{
  text-align: right;
  margin-top: 5px;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched{
  border: 1px solid red;
}

.header{
  color: #f7b733;
}

.btn-secondary{
  background-color: #f7b733;
}

hr{
  margin: 3px;

}

.buttons{
  text-align: right;
}
