<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Legal</h4>
        <ul>
          <li><a href="#">Terminos y condiciones</a></li>
          <li><a href="#">Privacidad</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Ayuda</h4>
        <ul>
          <li><a href="#">Soporte</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9"></div>
      <div class="col-md-3"><span class="sign">&copy; 2017 Recetame la Receta</span></div>
    </div>
  </div>
</footer>
