.categories {
  width: 15%;
  float: left;
}
.categories li {
  list-style:none;
  background-color:#4abdac;
  color: white;
  margin:5px 0;
  text-align:left;
  padding: 5px 5px 5px 5px;
  border-radius:5px 5px;
  cursor:pointer;
}
.categories li a {
  text-decoration:none;
  color:white !important;
  font-family: Century Gothic, sans-serif;
}
.categories li:hover {
  background: #fc4a1a;
  color:white;
}
