<div style="margin-bottom: 13px">
  <label for="category">{{ label }}</label>
  <br>
  <span class="label label-default" *ngFor="let c of selected | keys">
    {{ c }}
    <span class="label-button" (click)="deselectCategory(c)">x</span>
  </span>
</div>
<div class="form-group">
  <input id="category" class="form-control" placeholder="Enter luego de cada una" list="categories" [(ngModel)]="name" (keyup.enter)="selectCategory()">
  <datalist id="categories">
    <option *ngFor="let c of all | keys" [value]="c"></option>
  </datalist>
</div>
