<div class="container-fluid">

  <div class="row">
    <img class="img-responsive center-block home-image" src="assets/images/home/home.jpg" alt="Home">

    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="homeText">
          <p>🔎BUSCÁ, 🍳COCINÁ, 🍲DISFRUTÁ!</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="searchBox">
          <div class="input-group stylish-input-group">
            <input type="text" class="form-control" placeholder="Buscar Recetas" [(ngModel)]="recipeName" (keyup.enter)="search()">
            <span class="input-group-addon">
          <button type="submit" (click)="search()">
              🔎
          </button>
        </span>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

