<div style="margin-top: 20px" class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Escribir noticia
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <form>
          <div class="row">
              <div class="form-group">
                <input name="title" [(ngModel)]="news.title" class="form-control" placeholder="Título">
              </div>
              <div class="form-group">
                <textarea rows="3" name="description" [(ngModel)]="news.description" class="form-control" placeholder="Descripción"></textarea>
              </div>
              <div class="row">
                <div class="col col-md-6">
                  <div class="form-group">
                    <img class="img-responsive img-rounded" style="margin-bottom: 20px" *ngIf="validVideoUrl" [src]="videoThumbnailUrl">
                    <input name="videoUrl" [(ngModel)]="news.videoUrl" class="form-control" placeholder="Video de YouTube">
                  </div>
                </div>
                <div class="col col-md-6">
                  <div class="form-group">
                    <input name="image" style="display: none" (change)="uploadImage($event)" type="file" id="image" accept="image/*">
                    <img class="img-responsive img-rounded" style="margin-bottom: 20px" *ngIf="news.image" [src]="news.image.url">
                    <button class="btn btn-default btn-sm" onclick="document.getElementById('image').click()" [disabled]="uploadingImage">{{ uploadingImage ? 'Subiendo' : 'Subir imágen' }}</button>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-primary" [disabled]="disabledSubmit" (click)="create()">Publicar</button>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
